/* LOGO PANEL */
.logopanel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5em;
    width: 100%;
    background: rgb(255, 255, 255);
}
.logopanel img{
    flex: 0 1 auto;
    height: 100%;
    width: auto;
    position: relative;             /* new */
    left: 50%;
    transform: translateX(-50%);
}
#toggle{
    display: none;
    position: relative;
    flex: 0 1 auto;
    margin: 1vh 2vw 0 auto;
    padding: 0;
    height: 100%;
    cursor: pointer;
    text-align: center;

    color: rgb(105, 105, 105);
    font-size: 1em;
    text-transform: none;
    font-family: 'adobe-garamond-pro';

    
   
}

