*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1rem;
}
button{
    all: unset;
    cursor: pointer;
}
input{
    all: unset;
}

@font-face {
    font-family: "adobe-garamond-pro";
    src: url(../assets/fonts/AdobeGaramondPro/AGaramondPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "proxima-nova";
    src: url(../assets/fonts/ProximaNova/MarkSimonson-ProximaNovaRegular.otf);
    font-weight: normal;
    font-style: normal;
}


/* NAV */
#nav{
    flex-direction: column;
    align-items: center;
    height: 30vh;
    margin-top: .5em;

    background: #7D2435 ;
    /* transform: scale(1, 0);
    transform-origin: top;
    transition: transform 150ms ease-out; */
}
.nav__item{
    font-family: 'proxima-nova';
    font-weight: normal;
    letter-spacing: .05em;
    font-size: 1em;
    color: rgb(255, 255, 255);
    width: 100%;
    text-decoration: none;
    text-align: center;

    padding: 1em;
    margin: .5em 0 0 0;
}

a:hover{
    color: black;
}

a:active{
    color: rgb(0, 0, 0); 
}


/* CONTAINER */
.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container img{
    margin: 1em 0;
    padding: 0;

    max-width: 90vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
