<div class="container">
    <a href="/photos/Divine_Source.jpg" class="glightbox">
        <img src="/photos/divine_source.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/yellow_running_boy.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/coffee_milk2.webp" alt="" srcset="">
    </a>
    <a href="/photos/Drippin_Gold.jpg" class="glightbox">
        <img src="/photos/drippin_gold.webp" alt="" srcset="">
    </a>
    <a href="/photos/Outlines.jpg" class="glightbox">
        <img src="/photos/outlines.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/structural_contrast.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/jazz_lights.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/jazz_night.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/architexture.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/alignment.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/reverence.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/winter_streets.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/voyage.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/citywideset.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/pastombee.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/first_full_moon.webp" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/junction_nighttrails1.webp" alt="" srcset="">
    </a>
</div>  

<script>
    const lightbox = GLightbox({
        touchNavigation: true,
        loop: true,
    });
</script>