@font-face {
    font-family: "adobe-garamond-pro";
    src: url(/fonts/AdobeGaramondPro/AGaramondPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "proxima-nova";
    src: url(/fonts/ProximaNova/MarkSimonson-ProximaNovaRegular.otf);
    font-weight: normal;
    font-style: normal;
}



/* HTML */
header{
    height: 55vh;
}

h1{

    color: var(--clr-heading);

    font-size: 1.3em;
    font-family: inherit;
}

a:hover{
    color: var(--clr-hover);
}

a:active{
    color: var(--clr-primary);
}




/* LOGO PANEL */
.logopanel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5em;
    width: 100%;
    background: rgb(255, 255, 255);
}
#logolink{
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
    width: 100vw;
}
#logo{
    flex: 0 1 auto;
    height: 100%;
    width: auto;
    position: relative;             
    left: 50%;
    transform: translateX(-50%);
}
/* #toggle{
    display: none;
    position: relative;
    flex: 0 1 auto;
    margin: 1vh 2vw 0 auto;
    padding: 0;
    height: 100%;
    cursor: pointer;
    text-align: center;

    color: rgb(105, 105, 105);
    font-size: 1em;
    text-transform: none;
    font-family: 'adobe-garamond-pro';
} */


/* NAVIGATION */
#nav{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    margin-top: .5em;

    background: var(--clr-accent);
}
.nav__item{
    font-family: 'proxima-nova';
    font-weight: normal;
    letter-spacing: .05em;
    font-size: 1em;
    color: rgb(255, 255, 255);
    width: 100%;
    text-decoration: none;
    text-align: center;
}

/* SECTION */
.homeSection{
    margin: 0 0 0 0;

    height: 45vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-family: 'proxima-nova';

}

/* CONTAINER */
.container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor:default;

    
}
.container img{
    margin: 1em 0;
    padding: 0;

    max-height: 90vh;
    max-width: 81vw;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    
    cursor: pointer;

}
/* FOOTER */
.footer{
    margin: 1em 0;

    width: 100vw;
    text-align: center;

    color: var(--clr-accent);
    font-size: .8em;
    font-family: 'proxima-nova';
}

#alertpop{
    position: absolute;
    height: 7vh;
    width: 80%;
    background: rgb(255, 255, 255);
    left: 10%;
    z-index: 999;
    text-align: center;
    line-height: 7vh;
    margin: 43vh 0 0 0;
    border-radius: 1.5em;
    
    font-family: 'proxima-nova';
    font-size: .8em;
    font-weight: bold;

    box-shadow: 3px 3px 5px rgb(110, 110, 110);
}