

.aboutText{
    display: flex;
    flex-direction: column;


    color: var(--clr-accent) !important;

    text-align: center;
    margin: .7em 0 2em 0;
    max-width: 75vw;

    font-size: 1em;
    font-family: inherit;
}


.contactLink{
    display: block;
    text-align: center;
    margin: .7em 0 0 0;
    text-decoration: underline;
    color: var(--clr-accent);
    cursor: pointer;
}





#twitterlink::before{
    content: '';
    display: block;
    position: absolute;
    transform: translateX(-1.5em);
    height: 1em;
    width: 1em;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(/graphics/icon-twitter.svg);
}


#instagramlink::before{
    content: '';
    display: block;
    position: absolute;
    transform: translateX(-1.5em);
    height: 1em;
    width: 1em;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(/graphics/icon-instagram.svg);
}

#gmaillink::before{
    content: '';
    display: block;
    position: absolute;
    transform: translateX(-1.5em);
    height: 1em;
    width: 1em;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url(/graphics/icon-gmail.svg);
}
