<!DOCTYPE html>
<html lang="en">
<head>
    <!--HEAD META --> {{ partial "global/head.html"}}
    <!--FAVICON --> {{ partial "global/favicon.html"}}
    <!--GLOBAL STYLES --> {{ partial "global/globalstylesheets.html"}}
    <link rel="stylesheet" href="css/home.css">
    <!--GLIGHTBOX --> {{ partial "global/glightbox.html"}}

</head>

<body>
    <div id="alertpop" style="display: none;">e-mail adress successfully copied to clipboard</div>
    <script src="/js/linktoclipboard.js"></script>

    <!--HEADER  --> 
    {{ partial "global/header.html"}}

    <!-- SECTION -->
    <section class="homeSection">
        <h1>About</h1>
        <p class="aboutText">I am a high-school student who makes photos, loves cinema and technology, and takes notes.</p>
        <h1>Contact</h1>
        <p>
            <a class="contactLink" id="instagramlink" href="https://www.instagram.com/oliverklimes/">Instagram</a>
            <a class="contactLink" id="twitterlink" href="https://twitter.com/oolikklimes">Twitter</a>
            <a class="contactLink" id="gmaillink" onclick="init(); copyToClipboard()" href="#">E-Mail<a>
        </p>
    </section>

    <!-- CONTAINER -->
    <div class="container">
        <a href="/photos/divine_source.webp" class="glightbox">
            <img src="/photos/divine_source.webp" alt="" srcset="">
        </a>
        <a href="/photos/Drippin_Gold.jpg" class="glightbox">
            <img src="/photos/Drippin_Gold.jpg" alt="" srcset="">
        </a>
        <a href="/photos/Outlines.jpg" class="glightbox">
            <img src="/photos/Outlines.jpg" alt="" srcset="">
        </a>
        <a href="/photos/Structural_Contrast.jpg" class="glightbox">
            <img src="/photos/Structural_Contrast.jpg" alt="" srcset="">
        </a>
    </div>  

    <!--FOOTER  --> 
    {{ partial "global/footer.html"}}
    <script>
        const lightbox = GLightbox({
            touchNavigation: true,
            loop: true,
        });
    </script>
</body>
</html>