<!DOCTYPE html>
<html lang="en">
<head>
    <!--HEAD META --> {{ partial "global/head.html"}}
    <!--FAVICON --> {{ partial "global/favicon.html"}}
    <!--GLOBAL STYLES --> {{ partial "global/globalstylesheets.html"}}


    <!--LOCAL STYLES --> {{ partial "home/homeStyles.html"}}
    <!-- GLIGHTBOX --> {{ partial "global/glightbox.html"}}

</head>

<body>
    <!--MISCELLANEOUS  --> {{ partial "home/homeMisc.html"}}

    <!--HEADER  --> {{ partial "global/header.html"}}

    <!--SECTION --> {{ partial "portfolio/portfolioSection.html"}}
    <!--CONTAINER --> {{ partial "portfolio/portfolioContainer.html"}}
    
    <!--FOOTER  --> {{ partial "global/footer.html"}}
</body>

</html>