<!DOCTYPE html>
<html lang="en">
<head>
    <!--HEAD META --> {{ partial "global/head.html"}}
    <!--FAVICON --> {{ partial "global/favicon.html"}}
    <!--GLOBAL STYLES --> {{ partial "global/globalstylesheets.html"}}
    <!--GLIGHTBOX --> {{ partial "global/glightbox.html"}}

</head>

<body>
    <!--HEADER  --> 
    {{ partial "global/header.html"}}

    <!--SECTION -->
    <section class="homeSection">
        <h1>Portfolio</h1>
        <p class="aboutText">A showcase selection of my work.</p>
    </section>

    <!--CONTAINER -->
    <div class="container">
       
    </div>
    
    <!--FOOTER  --> {{ partial "global/footer.html"}}
</body>

</html>