<header>
    <div class="logopanel">
        <img id="logo" src="/graphics/enso_zen_circle_logo.svg" alt="" srcset="">
    </div>
    <nav id="nav" class="navigation" style="display: flex;">
        <a href="/" class="nav__item">Home</a>
        <a href="/portfolio" class="nav__item">Portfolio</a>
        <a href="" class="nav__item">Landscape</a>
        <a href="" class="nav__item">Product</a>
        <a href="" class="nav__item">Portrait</a>
        <a href="" class="nav__item">CGI </a>
        <a href="" class="nav__item">Others</a>
        <a href="" class="nav__item">Notes</a>
        <a href="" class="nav__item">Blog</a>
    </nav>
</header>