@font-face {
    font-family: "adobe-garamond-pro";
    src: url(/fonts/AdobeGaramondPro/AGaramondPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "proxima-nova";
    src: url(/fonts/ProximaNova/MarkSimonson-ProximaNovaRegular.otf);
    font-weight: normal;
    font-style: normal;
}

