/* LOGO PANEL */
.logopanel{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 2.5em;
    width: 100%;
    background: rgb(255, 255, 255);
}
#logolink{
    margin: 0;
    padding: 0;
    display: block;
    height: 100vh;
    width: 100vw;
}
#logo{
    flex: 0 1 auto;
    height: 100%;
    width: auto;
    position: relative;             
    left: 50%;
    transform: translateX(-50%);
}
/* #toggle{
    display: none;
    position: relative;
    flex: 0 1 auto;
    margin: 1vh 2vw 0 auto;
    padding: 0;
    height: 100%;
    cursor: pointer;
    text-align: center;

    color: rgb(105, 105, 105);
    font-size: 1em;
    text-transform: none;
    font-family: 'adobe-garamond-pro';
} */
/* NAVIGATION */
#nav{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    margin-top: .5em;

    background: var(--clr-accent);
}
.nav__item{
    font-family: 'proxima-nova';
    font-weight: normal;
    letter-spacing: .05em;
    font-size: 1em;
    color: rgb(255, 255, 255);
    width: 100%;
    text-decoration: none;
    text-align: center;
}
