<div class="container">
    <a href="/photos/Divine_Source.jpg" class="glightbox">
        <img src="/photos/Divine_Source.jpg" alt="" srcset="">
    </a>
    <a href="/photos/Drippin_Gold.jpg" class="glightbox">
        <img src="/photos/Drippin_Gold.jpg" alt="" srcset="">
    </a>
    <a href="/photos/Outlines.jpg" class="glightbox">
        <img src="/photos/Outlines.jpg" alt="" srcset="">
    </a>
    <a href="/photos/Structural_Contrast.jpg" class="glightbox">
        <img src="/photos/Structural_Contrast.jpg" alt="" srcset="">
    </a>
</div>  

<script>
    const lightbox = GLightbox({
        touchNavigation: true,
        loop: true,
    });
</script>