<section class="homeSection">
    <h1>About</h1>
    <p class="aboutText">I am a high-school student who makes photos, loves cinema and technology, and takes notes.</p>
    <h1>Contact</h1>
    <p>
        <a class="contactLink" id="instagramlink" href="https://www.instagram.com/oliverklimes/">Instagram</a>
        <a class="contactLink" id="twitterlink" href="https://twitter.com/oolikklimes">Twitter</a>
        <a class="contactLink" id="gmaillink" onclick="init(); copyToClipboard()" href="#">E-Mail<a>
    </p>
</section>